[Unit]
Description=Gunicorn instance to serve weather station
After=network.target

[Service]
User={{ username }}
Group=www-data
WorkingDirectory={{ repo_path }}/server
Environment="PATH={{ env_path }}"
ExecStart={{ env_path }}/gunicorn --workers 3 --bind 0.0.0.0:5000 -m 007 wsgi:app

[Install]
WantedBy=multi-user.target